﻿@model NivethaFizzBuzz.Models.FizzBuzzViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "FizzBuzz";
}
<div class="jumbotron">
    <h1 align="center">FizzBuzz</h1>
</div>
@Html.ActionLink("Get Records", "UserInput")

<form action="/Home/Index" method="POST">
  

        <div class="row">
            <div class="col-md-8 col-md-offset-4">
                @Html.TextBoxFor(m => m.UserValue)
                @Html.ValidationMessageFor(m => m.UserValue)
            </div>
        </div>
    <div class="row">
        <input type="submit" name="Get FizzBuzz" value="Get FizzBuzz" class="btn btn-default" />
    </div>
   
</form>
@*<form action="/Home/UserInput" method="get">

    <div class="row">
        <input type="button" name="Get Records" value="Get Records" class="btn btn-default" />
    </div>

</form>*@
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                @foreach (var number in Model.FizzBuzzPagination)
                {
                    if (number == "FizzBuzz")
                    {
                        <span class="fizz">Fizz</span><span class="buzz">Buzz</span>
                    }
                    else
                    {
                        <span class="@number.ToLower()"> @number</span>
                    }
                    <br />
                }
            </div>
        </div>
        <br />
        Page @(Model.FizzBuzzPagination.PageCount < Model.FizzBuzzPagination.PageNumber ? 0 : Model.FizzBuzzPagination.PageNumber) of @Model.FizzBuzzPagination.PageCount
        @Html.PagedListPager(Model.FizzBuzzPagination, page => Url.Action("FizzBuzz",
    new { value = @Model.UserValue, page }))

   
