﻿@model NivethaFizzBuzz.Models.FizzBuzzViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "FizzBuzz";
}

<div class="jumbotron">
    <h1 align="center">FizzBuzz</h1>
</div>

<form action="/Home/Index" method="POST">
    <div class="row">
        <div class="col-md-8 col-md-offset-4">
            @Html.TextBoxFor(m => m.UserValue)
            @Html.ValidationMessageFor(m => m.UserValue)
        </div>
    </div>
    <div class="row">
        <input type="submit" class="btn btn-default" value="Get FizzBuzz" />
    </div>

</form>
