﻿
@using PagedList.Mvc;
@{
    ViewBag.Title = "FizzBuzz";
}
 
<div class="jumbotron">
    <h1 aling ="center">FizzBuzz</h1>
</div>
@Html.ActionLink("Home","Index" )
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            @foreach (var input in NivethaFizzBuzz.Models.FizzBuzzRequestData.InputPagination)
            {

                <span class="@input"> @input</span>

                <br />
            }
        </div>
    </div>
    <br />
 
    @Html.PagedListPager(NivethaFizzBuzz.Models.FizzBuzzRequestData.InputPagination, page => Url.Action("UserInput",
    new { page }))
